// Buttons
button {
	@extend %btn;
	font-weight: bold;
	color: $white;
	text-transform: uppercase;

}

//Forms:
.search {
	input {
			display: block;
	    padding: 10px;
	    width: 90%;
			max-width: 380px;
	    font-weight: normal;
	    margin: 13px auto 13px;
			border-radius: 5px;
			border-style: solid;
			border-width: 1px;
			border-color: $grey;
			@media (min-width: 768px) {
				float: right;
				width: 100%;
			}
		}
}

// Settings

.autocomplete {
  position: relative;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
}

input[type=submit] {
  cursor: pointer;
}
