/*--------------------------------------------------
:: Grid
-------------------------------------------------- */
// .container {
// 	max-width: 90%;
// 	margin: 0 auto;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-auto-rows: 100px auto;
// 	grid-template-areas:
//     "header"
//     "main";
// }

header {
	padding:10px 0 0;
	grid-area: header;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr;
}

section {
	.grid {
		display: block;
		.cell {
			display: flex;
			flex-direction: column;

			p {
				margin-bottom: 0;
			}
		}
	}
}


.container {
	@include flex-box;

	// Make nested grid 100%
  [class*="col-"] > & {
    width: 100%;
  }
	@include media-q(medium) {
		width: 80%;
	}
	@include media-q(large) {
		width: 70%;
		max-width: $container-max-width;
	}
}

.card {
	margin-top: 20px;
	margin-bottom: 60px;
	padding-left: 15px;
	padding-right: 15px;
}

.col {
  @include media-q(medium) {
    @include g-columns;
  }
}

[class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  @include media-q(small)  {
	width: 100%;
  }
  @include media-q(medium) {
    @include doubly(percentage($grid-gutter / $context));
    float: left;
    min-height: 1px;
    &:last-of-type {
      float: right;
    }
  }
}

.row {
	display: flex;
  	flex-wrap: wrap;
}



@media (min-width: 768px) {
	header {
		padding:15px;
	}
	section {
		.grid {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			.cell {
				display: flex;
				flex-direction: row;
				width: 48%;
			}
		}
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1440px;
		margin: 0 auto;
	}
	section {
		.grid {
			.cell {
				display: flex;
				flex-direction: row;
				width: 32%;
			}
		}
	}
}
