//Image:

img {
	width: 100%;
	height: auto;
	display: block;

	&#profile-image {
		max-width: 150px;
		margin: 0 auto 30px;
	}
}

header.white{
	.logo svg {
		width: 100%;
		max-width: 70px;
		.cls-1,.cls-3{fill:$white;}
		.cls-1{stroke:$blue;stroke-width:2.44px;}
		.cls-2{fill:$blue;}
		.cls-4{fill:none;stroke:$white;stroke-linecap:round;stroke-width:2.65px;}



		&:hover {
			transition: transform 1s ease-in-out;
			transform: rotate(360deg);
			cursor: pointer;
			.cls-1,.cls-3{fill:$white;}
			.cls-1{stroke:$dark-gray;stroke-width:2.44px;}
			.cls-2{fill:$charcoal;}
			.cls-4{fill:none;stroke:$white;stroke-linecap:round;stroke-width:2.65px;}

		}
	}
}

header.blue-charcoal{
	.logo svg {
		width: 100%;
		max-width: 70px;

		.cls-1,.cls-3{fill:$white;}
		.cls-1{stroke:$dark-gray;stroke-width:2.44px;}
		.cls-2{fill:$charcoal;}
		.cls-4{fill:none;stroke:$white;stroke-linecap:round;stroke-width:2.65px;}


		&:hover {
			transition: transform 1s ease-in-out;
			transform: rotate(360deg);
			cursor: pointer;

			.cls-1,.cls-3{fill:$white;}
			.cls-1{stroke:$blue;stroke-width:2.44px;}
			.cls-2{fill:$blue;}
			.cls-4{fill:none;stroke:$white;stroke-linecap:round;stroke-width:2.65px;}

		}
	}
}

header.blue{
	.logo svg {
		width: 100%;
		max-width: 70px;

		.cls-1,.cls-3{fill:$white;}
		.cls-1{stroke:$dark-blue;stroke-width:2.44px;}
		.cls-2{fill:$dark-blue;}
		.cls-4{fill:none;stroke:$white;stroke-linecap:round;stroke-width:2.65px;}


		&:hover {
			transition: transform 1s ease-in-out;
			transform: rotate(360deg);
			cursor: pointer;

			.cls-1,.cls-3{fill:$white;}
			.cls-1{stroke:$blue;stroke-width:2.44px;}
			.cls-2{fill:$blue;}
			.cls-4{fill:none;stroke:$white;stroke-linecap:round;stroke-width:2.65px;}

		}
	}
}

.cell {
	.card {
		.thumbnail {
			img {
				 cursor: pointer;
			 }
		}
	}
}

.modal_content {
	.card {
		.thumbnail {
			img {
				 cursor: pointer;
			 }
		}
	}
}

#socialprofiles {
	text-align: center;
	a {
		color: $charcoal;
	}

	svg {
		max-width: 32px;
		fill: $blue;
		margin: 10px;
		&#phone {
			.cls-1{fill:$blue;}
			.cls-2{fill:$white;}
			.cls-3{fill:$blue;}
		}
		&#email {
			.cls-1{fill:$blue;}
			.cls-2{fill:$blue;}
			.cls-3{fill:$white;}
			.cls-4{fill:#eee;}
			.cls-5{fill:$blue;}
		}
	}
}
