//Image:

img {
	width: 100%;
	height: auto;
	display: block;
}

.logo svg {
	width: 100%;
	max-width: 70px;
}

.cell {
	.card {
		.avatar {
			img {
				 border-radius: 50%;
				 cursor: pointer;
				 max-width: 128px;
			 }
		}
	}
}

.modal_content {
	.card {
		.avatar {
			img {
				 border-radius: 50%;
				 cursor: pointer;
				 width: 170px;
				 margin: 20px auto;
			 }
		}
	}
}

.cls-1,.cls-3{fill:#fff;}
.cls-1{stroke:#57565a;stroke-width:2.44px;}
.cls-2{fill:#333;}
.cls-4{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:2.65px;}
