// Navigation
nav {
	align-items: center;
	justify-content: center;

	ul {
		font-weight: bold;
		margin:0;
		list-style-type: none;
		display: flex;
    	flex-direction: row;
		justify-content: space-around;
		align-content: center;

		li {
			float: left;
			padding: 10px;

			&.active, &:hover {
				cursor: pointer;
				a {
					color: $charcoal;
				}
			}
		}
	}
}

header {
	&.white {
		nav {
				a {
					color: $blue;
					&:hover, &:active {
						color: $charcoal;
					}
				}
			}
	}
	&.blue {
			nav {
		a {
			color: $white;
			&:hover, &:active {
				color: $charcoal;
			}
		}
	}
	}
}

@media (min-width: 768px) {
	nav {
		ul {
			margin:15px 0;
		}
	}
}


a:target {
  position: relative;
  height: 150px;
  margin-top: -150px;
  opacity: 0;
  display: block !important;
  z-index: -1;
}
