// Navigation
nav {
	ul {
		margin:0;
		margin-top: 11px;
		list-style-type: none;
		display: flex;
    flex-direction: row;
		justify-content: space-around;
		align-content: center;
		li {
			float: left;
			padding: 10px;
			&.active, &:hover {
				cursor: pointer;
    		padding-bottom: 3.5%;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		ul {
			li {
				&.active, &:hover {
	    		padding-bottom: 1.5%;
				}
			}
		}
	}
}
