header {
	position: fixed;
  width: 100%;
	&.white {
	background-color: $white;
}
&.blue {
background-color: $blue;
}
	box-shadow: 0 1px 5px #333;
	.logo {
		text-align: center;
		@include media-q(medium) {
			text-align: left;
		}
	}
}
section {
	display: flex;
	&#hero {
		align-items: flex-end;
		//justify-content: center;
		background: url('../images/cherry-blossoms.jpg') no-repeat right top;
		background-size: cover;
		height:100vh;
		min-height:100vh;

		padding-bottom: 50px;
	}
	&#about {
		padding-top: 150px;
		padding-bottom: 150px;
		text-align: left;
	}
	&#portfolio {
		padding-top: 150px;
		padding-bottom: 50px;
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
		.grid {
			.cell{
				.card {
				  text-align: center;
				  //border-radius: 6px;
				  background-color: $white;
				  border: solid 2px $light-gray;
				  padding: 20px;
				  margin-bottom: 24px;
				  width: 100%;
				  .project {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						.thumbnail {
						}
						.url {
							font-size: .8rem;
						}
					}
					&:hover {
						border: solid 2px $blue;
						box-shadow: 1px 1px 5px $blue;
						transition: all 1s;
						cursor: pointer;
					}
				}
			}
		}
	}
	&#contact {
			padding-top: 150px;
	}
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 990;

	.overlay {
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  z-index: 995;
		  background: rgba(0,0,0,0.75);
	 }

	 .modal_content {
		z-index: 999;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 90%;
		overflow: auto;
		background: $white;
		box-sizing: border-box;
		padding: 30px 10px 35px;
		box-shadow: 0 1px 5px rgba(0,0,0,0.7);
		//border-radius: 7px;
		border: 2px solid $gray;
		width: 100%; /* This just a default width */

		.card {
			.project {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				.thumbnail {

				}


			}

		}
	 }

	.close_modal {
			color: color(secondary);
			position: absolute;
			//right: 10px;
			top: 0;
			cursor: pointer;
			font-size: 18px;
			opacity: 0.5;
			background: none;
			border: none;
			transition: opacity 0.2s ease;
			text-align: right;
	}

	.close_modal:hover {
			opacity: 0.9;
	}
}

@media (min-width: 768px) {
	section {
		#portfolio {
			.grid {
				.cell{
					.card {
						.project {
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							.thumbnail {
								//width: 40%;
							}
							.project-info {
								margin-top: 20px;
								text-align: left;
							}
						}
					}
				}
			}
		}
	}

	.modal {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 990;

		.overlay {
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  z-index: 995;
			  background: rgba(0,0,0,0.75);
		 }

		 .modal_content {
			z-index: 999;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 90%;
			overflow: auto;
			background: $white;
			box-sizing: border-box;
			padding: 30px 10px 35px;
			box-shadow: 0 1px 5px rgba(0,0,0,0.7);
			//border-radius: 7px;
			border: 2px solid $gray;
			width: 90%; /* This just a default width */

			.card {
			  //text-align: center;
				.project {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					.project-info {
						.name {
							font-size: 1.5em;
					    padding-top: 20px;
						}
					}
				}

			}
		 }


		.close_modal {
				color: color(secondary);
				position: absolute;
				//right: 10px;
				top: 0;
				cursor: pointer;
				font-size: 18px;
				opacity: 0.5;
				background: none;
				border: none;
				transition: opacity 0.2s ease;
				text-align: right;
		}

		.close_modal:hover {
				opacity: 0.9;
		}
	}
}

@media (min-width: 1024px) {
	header {
		nav {
			float: right;
		}
	}

	.modal {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 990;

		.overlay {
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  z-index: 995;
			  background: rgba(0,0,0,0.75);
		 }

		 .modal_content {
			z-index: 999;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 90%;
			overflow: auto;
			background: $white;
			box-sizing: border-box;
			padding: 30px 10px 35px;
			box-shadow: 0 1px 5px rgba(0,0,0,0.7);
			//border-radius: 7px;
			border: 2px solid $gray;
			width: 1024px; /* This just a default width */

			.card {
				.project {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					.thumbnail {

					}
				}

			}
		 }


		.close_modal {
				color: color(secondary);
				position: absolute;
				//right: 10px;
				top: 0;
				cursor: pointer;
				font-size: 18px;
				opacity: 0.5;
				background: none;
				border: none;
				transition: opacity 0.2s ease;
				text-align: right;
		}

		.close_modal:hover {
				opacity: 0.9;
		}
	}
}
footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
