//Typography:
.container {
	font-family: $font-body;
	color: color(primary);
	font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-weight: 300;
}

h1 {
	color: color(secondary);
  	margin: 0;
  	font-size: em(24px);
	font-weight: 300;
}

h2 {
	color: color(secondary);
	margin: 0;
	font-size: em(20px);
}

p {
	margin: 0;
}

.user-info {
	word-break: break-word;
	.name {
		text-transform: capitalize;
	}
	.email {

	}
	.city {
		text-transform: capitalize;
	}
	.address {
		text-transform: capitalize;
	}
}
