//Typography:
body {
	font-family: $font-body;
}

.container {
	color: color(primary);
	font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-weight: 300;
}

h1, h2, h3, nav {
	font-family: $heading-font-family;
}

h1 {
	color: color(secondary);
  	margin: 0;
  	font-size: em(34px);
}

#hero {
	h1 {
		text-align: right;
		font-size: 2.5em;
	}

	mark {
		background: $white;
		color: $charcoal;
	}
}

h2 {
	color: color(secondary);
	margin: 0;
	font-size: em(28px);
}

section {
	h2 {
		font-family: 'Arbutus Slab', serif;
		text-align: center;
		margin: 15px auto;
		font-size: 3em;
	}
}

h3 {
	color: color(secondary);
	margin: 0;
	font-size: em(20px);
}

p {
	margin: 0;
	margin-bottom: 1rem;
}

.project-info {
	word-break: break-word;
	.name {
		text-transform: uppercase;
	}
}

i {
	font-size: 32px;
	padding: 5px;
}
