/*--------------------------------------------------
:: Base Element Styles
-------------------------------------------------- */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {

}

a {
	color: $blue;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
